<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>



<body>
<div class="container"><div th:replace="fragments/bodyHeader :: bodyHeader"/>
<form role="form" action="/money" method="post">

    <div class="form-group">
        <label th:for="user">이름 : [[${member.name}]]</label><br>
        <label th:for="user">보유 금액 : [[${member.money}]]</label>

    </div>
    <div class="form-group">
        <label th:for="name">충전 금액</label>
        <input class="form-control" id="inputMoney" name="payMoney" type="num" placeholder="충전하실 금액을 입력하세요">

    </div>


    <button type="submit" class="btn btn-primary">결제</button>
</form>
<br/>
<div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>